<h1><span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Обзор данных</a></span><ul class="toc-item"><li><span><a href="#Заполнение-пропусков" data-toc-modified-id="Заполнение-пропусков-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Заполнение пропусков</a></span></li><li><span><a href="#Проверка-данных-на-аномалии-и-исправления." data-toc-modified-id="Проверка-данных-на-аномалии-и-исправления.-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Проверка данных на аномалии и исправления.</a></span></li><li><span><a href="#Изменение-типов-данных." data-toc-modified-id="Изменение-типов-данных.-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Изменение типов данных.</a></span></li><li><span><a href="#Удаление-дубликатов." data-toc-modified-id="Удаление-дубликатов.-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Удаление дубликатов.</a></span></li><li><span><a href="#Формирование-дополнительных-датафреймов-словарей,-декомпозиция-исходного-датафрейма." data-toc-modified-id="Формирование-дополнительных-датафреймов-словарей,-декомпозиция-исходного-датафрейма.-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.</a></span></li><li><span><a href="#Категоризация-дохода." data-toc-modified-id="Категоризация-дохода.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Категоризация дохода.</a></span></li><li><span><a href="#Категоризация-целей-кредита." data-toc-modified-id="Категоризация-целей-кредита.-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Категоризация целей кредита.</a></span></li><li><span><a href="#Категоризация-по-количеству-детей." data-toc-modified-id="Категоризация-по-количеству-детей.-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Категоризация по количеству детей.</a></span></li><li><span><a href="#Ответы-на-вопросы." data-toc-modified-id="Ответы-на-вопросы.-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Ответы на вопросы.</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Так-есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?:" data-toc-modified-id="Так-есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?:-1.9.0.1"><span class="toc-item-num">1.9.0.1&nbsp;&nbsp;</span>Так есть ли зависимость между количеством детей и возвратом кредита в срок?:</a></span></li><li><span><a href="#Так-есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?:" data-toc-modified-id="Так-есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?:-1.9.0.2"><span class="toc-item-num">1.9.0.2&nbsp;&nbsp;</span>Так есть ли зависимость между семейным положением и возвратом кредита в срок?:</a></span></li><li><span><a href="#Так-есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?:" data-toc-modified-id="Так-есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?:-1.9.0.3"><span class="toc-item-num">1.9.0.3&nbsp;&nbsp;</span>Так есть ли зависимость между уровнем дохода и возвратом кредита в срок?:</a></span></li><li><span><a href="#Как-разные-цели-кредита-влияют-на-его-возврат-в-срок:" data-toc-modified-id="Как-разные-цели-кредита-влияют-на-его-возврат-в-срок:-1.9.0.4"><span class="toc-item-num">1.9.0.4&nbsp;&nbsp;</span>Как разные цели кредита влияют на его возврат в срок:</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Общий-вывод" data-toc-modified-id="Общий-вывод-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Общий вывод</a></span></li></ul></div>

# Исследование надежности заемщиков.

## Обзор данных

In [1]:
import pandas as pd # импорт библиотеки pandas
import numpy as np # импорт библиотеки numpy на всякий случай

try:
    df = pd.read_csv('data.csv')
except:
    df = pd.read_csv('/datasets/data.csv') # чтение файла с данными и запись в df

df.head(10) # получение первых 10 строк таблицы df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [2]:
df.info() # получение общей информации о данных в таблице df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Из беглого осмотра данных можно сделать первые заключения:
*    1. Проблем с названием столбцов - нет. Это здорово.
*    2. Есть проблема с пропущенными значениями с столбцах `'days_employed'` и `'total_income'`. Ими предстоит заняться далее.

In [3]:
'Доля пропущенных значений в %:', (df.isna().mean()*100).round(1)

('Доля пропущенных значений в %:',
 children             0.0
 days_employed       10.1
 dob_years            0.0
 education            0.0
 education_id         0.0
 family_status        0.0
 family_status_id     0.0
 gender               0.0
 income_type          0.0
 debt                 0.0
 total_income        10.1
 purpose              0.0
 dtype: float64)

### Заполнение пропусков

**Пропуски:**
* Так как метод `info()` указал нам на пропуски в данных, нужно от них как-то избавляться. Кроме того, доля пропусков в 10% говорит нам о том, что, при удалении данных с пропусками, мы значительно потеряем в объёме выборки.
* Теоретически, пропуски в данных могли оказаться от банального нежелания указывать эти данные. Возможно мы имеем дело с самозанятыми или предпринимателями, работающими неофициально.

**Что делать?**

Будем заменять пропуски на медианные значения, т.к. для количественных переменных, медиана - лучший вариант.
Выбросы в данных влияют на неё в меньшей степени, чем на среднее арифметическое.

In [4]:
columns_to_replace = ['days_employed', 'total_income'] # создаём переменную с названиями целевых столбцов
for column in columns_to_replace: # перебор названий столбцов в цикле и замена пропущенных значений на 'unknown'
    median = df[column].median() # подсчёт медианы для каждого столбца
    df[column] = df[column].fillna(median) # непосрдественно замена
df.info() # проверяем результат

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

С пропусками порядок. Двигаемся дальше...

### Проверка данных на аномалии и исправления.

Ввиду обозначенных вопросов иследования, имеем целевые переменные для проверки на аномалии:
* `'children'` — количество детей в семье
*`'family_status'` - семейное положение
*`'total_income'` - ежемесячный доход
*`'purpose'` - цель получения кредита
*`'debt'` - имел ли задолженность по возврату кредитов

В значениях `'days_employed'` при ознакомительном осмотре обнаружили отрицательные и очень большие числа, что затрудняет определение логики их смысла. Но, по условию задачи, эти данные нам не нужны, поэтому предлагаю оставить "как есть".

In [5]:
df['children'].sort_values().unique() # считаем уникальные значения

array([-1,  0,  1,  2,  3,  4,  5, 20], dtype=int64)

 Это странно, поэтому,  предлагаю заменить выбросы на 1 (предполагаем, что "-" лишний) и 2 (предполагаем что "0" лишний), соответственно.

In [6]:
df.loc[df['children'] == -1] = 1 
df.loc[df['children'] == 20] = 2
df['children'].sort_values().unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

Движемся далее

In [7]:
df['family_status'].unique() # смотрим уникальные значения. 1 и 2  - странно для семейного статуса 
df[(df['family_status'] == 1) | (df['family_status'] == 2)].head(10) # смотрим на эти строки со значениями. Выглядят ошибками или мусором

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
291,1,1.0,1,1,1,1,1,1,1,1,1.0,1
606,2,2.0,2,2,2,2,2,2,2,2,2.0,2
705,1,1.0,1,1,1,1,1,1,1,1,1.0,1
720,2,2.0,2,2,2,2,2,2,2,2,2.0,2
742,1,1.0,1,1,1,1,1,1,1,1,1.0,1
800,1,1.0,1,1,1,1,1,1,1,1,1.0,1
941,1,1.0,1,1,1,1,1,1,1,1,1.0,1
1074,2,2.0,2,2,2,2,2,2,2,2,2.0,2
1363,1,1.0,1,1,1,1,1,1,1,1,1.0,1
1929,1,1.0,1,1,1,1,1,1,1,1,1.0,1

Предлагаю удалить. Тем более их всего 123

In [8]:
df = df.loc[df['family_status'] != 1] # удаляем
df = df.loc[df['family_status'] != 2] # удаляем
df['family_status'].unique() # проверяем. Профит

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Движемся далее

In [9]:
df['total_income'].sort_values().unique() # смотрим уникальные значения

array([  20667.26379327,   21205.28056622,   21367.64835649, ...,
       1726276.01433167, 2200852.2102589 , 2265604.02872274])

Тут мы ранее уже заменили пропуски и вроде норм.

In [10]:
df['debt'].sort_values().unique() # смотрим уникальные значения

array([0, 1], dtype=int64)

Тут всё нормально.

### Изменение типов данных.

Столбец `'total_income'` предлагается изменить на тип данных int. Что ж... копейки считать не будем.

In [11]:
df['total_income'] = df['total_income'].astype(int)
df['total_income'].dtypes

dtype('int32')

Готово.

### Удаление дубликатов.

Задача, очевидно, разделилась на 2 части:
* Искать неявные дубликаты и обрабатывать:
 - Первый претендент - `'purpose'`, но его мы трогать не будем, иначе в шаге 2.6 будет делать нечего
 - Второй претендент - `'education'`, но пока не ясно зачем оно нам
 - Остальные претенденты - оставшиеся столбцы, согласно заданию

In [12]:
df['education'].sort_values().unique() # смотрим уникальные значения

array(['ВЫСШЕЕ', 'Высшее', 'НАЧАЛЬНОЕ', 'НЕОКОНЧЕННОЕ ВЫСШЕЕ',
       'Начальное', 'Неоконченное высшее', 'СРЕДНЕЕ', 'Среднее',
       'УЧЕНАЯ СТЕПЕНЬ', 'Ученая степень', 'высшее', 'начальное',
       'неоконченное высшее', 'среднее', 'ученая степень'], dtype=object)

Есть проблемы с регистром, исправляем

In [13]:
df['education'] = df['education'].str.lower() # Заполняем всё неправильное нижним регистром
df['education'].sort_values().unique() # профит

array(['высшее', 'начальное', 'неоконченное высшее', 'среднее',
       'ученая степень'], dtype=object)

Смотрим остальные с типом object

In [14]:
df['gender'].sort_values().unique() # XNA это странно, но трогать не будем
df['income_type'].sort_values().unique() # порядок, но "компапьнон" вызывает некоторые вопросы

array(['безработный', 'в декрете', 'госслужащий', 'компаньон',
       'пенсионер', 'предприниматель', 'сотрудник', 'студент'],
      dtype=object)

* Искать явные и удалять их:

In [15]:
print('До', df.duplicated().sum()) # ищем явные дубликаты
df = df.drop_duplicates() # удаляем их
print('После', df.duplicated().sum()) # Профит

До 71
После 0

### Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

Далее создадим 2 датафрейма, согласно заданию и удалим нужные столбцы из исходного

In [16]:
education_dict = df[['education', 'education_id']] # формируем новый датафрейм
family_status_dict = df[['family_status', 'family_status_id']] # формируем ещё один
df.drop(columns=['family_status', 'education'], axis=1) # удаляем нужные столбцы

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,0,0,F,сотрудник,0,253875,покупка жилья
1,1,-4024.803754,36,1,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,-5623.422610,33,1,0,M,сотрудник,0,145885,покупка жилья
3,3,-4124.747207,32,1,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266.072047,53,1,1,F,пенсионер,0,158616,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529.316663,43,1,1,F,компаньон,0,224791,операции с жильем
21521,0,343937.404131,67,1,0,F,пенсионер,0,155999,сделка с автомобилем
21522,1,-2113.346888,38,1,1,M,сотрудник,1,89672,недвижимость
21523,3,-3112.481705,38,1,0,M,сотрудник,1,244093,на покупку своего автомобиля
21524,2,-1984.507589,40,1,0,F,сотрудник,0,82047,на покупку автомобиля

### Категоризация дохода.

Проделывыем фокус с категоризацией дохода:

In [17]:
def total_income_category(income): # пишем функцию, которая и будет делать всю работу за нас
    try:
        if 30000 > income > 0:
            return 'E'
        if 50000 > income > 30001:
            return 'D'
        if 200000 > income > 50001:
            return 'C'
        if 1000000 > income > 200001:
            return 'B'
        if income > 1000001:
            return 'A'
    except:
        return 'Проверьте доход, с ним что-то не так'

df['total_income_category'] = df['total_income'].apply(total_income_category) # добавляем столбец   
df['total_income_category'].value_counts() # проверяем

C    15922
B     5012
D      349
A       25
E       22
Name: total_income_category, dtype: int64

Работает. Но появились маленькие группые пользователей с категорией A и E. С учётом объёма выборки, будет правильно объединить их с B и D соответственно.

In [18]:
def total_income_category(income): # внесём изменения в предыдущую функцию, с учётом того, что мы узнали
    try:
        if 30000 > income > 0:
            return 'D'
        if 50000 > income > 30001:
            return 'D'
        if 200000 > income > 50001:
            return 'C'
        if 1000000 > income > 200001:
            return 'B'
        if income > 1000001:
            return 'B'
    except:
        return 'Проверьте доход, с ним что-то не так'

df['total_income_category'] = df['total_income'].apply(total_income_category) # добавляем столбец   
df['total_income_category'].value_counts() # проверяем

C    15922
B     5037
D      371
Name: total_income_category, dtype: int64

теперь порядок

### Категоризация целей кредита.

Действем аналогично предыдущему шагу:

In [19]:
df['purpose'].sort_values().unique()

array(['автомобили', 'автомобиль', 'высшее образование',
       'дополнительное образование', 'жилье',
       'заняться высшим образованием', 'заняться образованием',
       'на покупку автомобиля', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля', 'на проведение свадьбы',
       'недвижимость', 'образование', 'операции с жильем',
       'операции с коммерческой недвижимостью',
       'операции с недвижимостью', 'операции со своей недвижимостью',
       'покупка жилой недвижимости', 'покупка жилья',
       'покупка жилья для сдачи', 'покупка жилья для семьи',
       'покупка коммерческой недвижимости', 'покупка недвижимости',
       'покупка своего жилья', 'получение высшего образования',
       'получение дополнительного образования', 'получение образования',
       'приобретение автомобиля', 'профильное образование',
       'ремонт жилью', 'свадьба', 'свой автомобиль',
       'сделка с автомобилем', 'сделка с подержанным автомобилем',
       'строительство жилой недвижимости', 'строительство недвижимости',
       'строительство собственной недвижимости', 'сыграть свадьбу'],
      dtype=object)

In [20]:
def purpose_category(purpose): # пишем функцию, которая категоризирует наши нетронутые неявные дубликаты
    if 'автомоб' in purpose:
        return 'операции с автомобилем'
    if 'жил' in purpose:
        return 'операции с недвижимостью'
    if 'недвиж' in purpose:
        return 'операции с недвижимостью'
    if 'свадьб' in purpose:
        return 'проведение свадьбы'
    if 'образ' in purpose:
        return 'получение образования'
    
df['purpose_category'] = df['purpose'].apply(purpose_category) # заменяем
df.head(15) # профит

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,-5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,-152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,-6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943,покупка недвижимости,C,операции с недвижимостью
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069,покупка коммерческой недвижимости,C,операции с недвижимостью
12,0,-1203.369529,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017,сыграть свадьбу,C,проведение свадьбы
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458,приобретение автомобиля,C,операции с автомобилем
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью

### Категоризация по количеству детей.

Действем аналогично предыдущим шагам:

In [21]:
def children_category(children): # пишем функцию, которая и будет делать всю работу за нас
    try:
        if 1 >= children >= 0: # катеогрия с до 1 ребёнка
            return 'malo'
        if 3 >= children >= 2: # от 2 до 3
            return 'sredne'
        if children > 3: # более 3
            return 'mnogo'
    except:
        return 'Проверьте детей, с ними что-то не так'

df['children_category'] = df['children'].apply(children_category) # добавляем столбец   
df['children_category'].value_counts() # проверяем

malo      18899
sredne     2382
mnogo        50
Name: children_category, dtype: int64

### Ответы на вопросы.

##### Так есть ли зависимость между количеством детей и возвратом кредита в срок?:

In [22]:
pd.pivot_table(df, index='children_category', values='debt').sort_values(by='debt') # построим сводную таблицу для оценки влияния детей на вероятность отдать кредит

                       debt
children_category
malo               0.079740
mnogo              0.080000
sredne             0.092779

Есть!

**Вывод**
* Заёмщики с количеством детей от 2 до 5 в среднем имеют больше долгов, чем те,  у кого от 0 до 1 ребёнка

##### Так есть ли зависимость между семейным положением и возвратом кредита в срок?:

In [23]:
pd.pivot_table(df, index='family_status', values='debt').sort_values(by='debt') # построим сводную таблицу для оценки влияния семейного положения на вероятность отдать кредит

                           debt
family_status
вдовец / вдова         0.066246
в разводе              0.070648
женат / замужем        0.075606
гражданский брак       0.093130
Не женат / не замужем  0.097639

**Вывод**

Имеем не совсем очевидную, но, вполне подтверждённую статистикой расстановку:
* Овдовевшие, в разводе и женатые - чаще не имеют долгов
* Сожители и неженатые - реже

##### Так есть ли зависимость между уровнем дохода и возвратом кредита в срок?:

In [24]:
pd.pivot_table(df, index=['total_income_category'], values='debt').sort_values(by='debt')

                           debt
total_income_category
D                      0.061995
B                      0.070677
C                      0.084977

**Вывод**
* Самые надёжные заёмщики с доходом от 30001 до 50000 у.е
* Самые ненадёжные - все остальные

##### Как разные цели кредита влияют на его возврат в срок:

In [25]:
pd.pivot_table(df, index=['purpose_category'], values='debt').sort_values(by='debt')

                              debt
purpose_category
операции с недвижимостью  0.072551
проведение свадьбы        0.079118
получение образования     0.092528
операции с автомобилем    0.093480

Наблюдаем ситуацию из реальной жизни. Ставка по ипотеке зачастую ниже, чем ставки по автокредитам и прочие потребительские займы. Ну и вероятность одобрения, соответственно выше.

## Общий вывод

Таким образом, имеем, что наилучшим кандидатом на кредитование в среднем банке является:
* Желающий приобрести недвижимость, с доходом от 30001 до 50000, вдовец, имеющий не более 1 ребёнка гражданин государтсва N.